* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  height: 100vh;
  margin: 0;
}

@import 'core/variables';
@import 'components/typography';
@import 'layout/header';
@import 'layout/grid';
@import 'pages/home';
@import 'layout/footer';
