
/* SECTION LOOKING */

.section-looking {
  padding: 30px 15px 45px;

  @media all and (min-width: 768px) {
    padding: 30px 39px 60px;
  }

  @media all and (min-width: 1280px) {
    padding: 60px 275px;
  }
}

.titulo-main {
  text-transform: capitalize;
  margin: 0;
  padding-top: 1px;
  // width: 290px;
  // margin-left: auto;
  // margin-right: auto;

  @media all and (min-width: 768px) {
    padding-top: 0;
  }
}

.texto-main {
  margin: 0;
}

.texto-looking {
  padding-top: 15px;
  // text-align: justify;
  // width: 290px;
  // margin-left: auto;
  // margin-right: auto;

  @media all and (min-width: 768px) {
    padding-top: 30px;
  }
}

.link-button-go {
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid $color-bright-orange;
  margin-top: 30px;

  @media all and (min-width: 768px) {
    width: 91px;
  }

  @media all and (min-width: 1280px) {
    width: 160px;
  }
}

/* SECTION REASONS */

.section-reasons {
  padding: 30px 70px 60px;
  text-align: center;
  background-color: $color-lightlightblue;

  @media all and (min-width: 768px) {
    padding-left: 35.7px;
    padding-right: 40px;
  }

  @media all and (min-width: 1280px) {
    padding: 60px 85px 60px 81.2px;
  }
}

.subtitulo-main {
  margin: 0;
  padding-top: 45px;
}

.texto-reasons {
  @media all and (min-width: 768px) {
    padding-top: 14px;
  }
}

.box {
  // width: 180px;
  // margin-left: auto;
  // margin-right: auto;
}

.link-button-reasons {
  text-align: center;
  display: block;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-bright-orange;
  text-decoration: none;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;

  @media all and (min-width: 768px) {
    width: 210px;
    margin-top: 60px;
  }

  @media all and (min-width: 1280px) {
    width: 255px;
    margin-top: 60px;
  }
}

/* Grid */

.wrapper {
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 27.7px;
  }

  @media all and (min-width: 1280px) {
    grid-column-gap: 26.2px;
  }
}
