
.section-looking {
  padding: 30px 15px;
}

.titulo-main {
  text-transform: capitalize;
  margin: 0;
  padding-top: 1px;
  // width: 290px;
  // margin-left: auto;
  // margin-right: auto;
}

.texto-main {
  margin: 0;
}

.texto-looking {
  padding-top: 15px;
  text-align: justify;
  // width: 290px;
  // margin-left: auto;
  // margin-right: auto;
}

.link-button-go {
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid $color-bright-orange;
  margin-top: 30px;
}

.section-reasons {
  padding: 30px 15px 60px;
  text-align: center;
  background-color: $color-lightlightblue;
}

.subtitulo-main {
  margin: 0;
  padding-top: 45px;
}

.box {
  // width: 180px;
  // margin-left: auto;
  // margin-right: auto;
}

.link-button-reasons {
  text-align: center;
  display: block;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-bright-orange;
  text-decoration: none;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
  }

  .box {
    width: 210px;
    margin-right: auto;
    margin-left: auto;
  }
}
