/* SECTION ANONYMOUS */

.section-anonymous {
  background-color: $color-bright-orange;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  @media all and (min-width: 768px){
    background-color: $color-cerulean;
  }
}


/* SECTION LOOKING */

.section-looking {
  padding: 30px 15px 45px;

  @media all and (min-width: 768px) {
    padding: 30px 39px 60px;
  }

  @media all and (min-width: 1280px) {
    padding: 60px 0;
    max-width: 730px;

    @include margin-left-right-auto;
    // margin-left: auto;
    // margin-right: auto;
  }
}

.titulo-main {
  text-transform: capitalize;
  margin: 0;
  padding-top: 1px;
  // width: 290px;
  // margin-left: auto;
  // margin-right: auto;

  @media all and (min-width: 768px) {
    padding-top: 0;
  }
}

.texto-main {
  margin: 0;
}

.texto-looking {
  padding-top: 15px;
  // text-align: justify;
  // width: 290px;
  // margin-left: auto;
  // margin-right: auto;

  @media all and (min-width: 768px) {
    padding-top: 30px;
  }
}

.link-button-go {
  width: 76px;
  height: 45px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 22.5px;
  border: 2px solid $color-bright-orange;
  margin-top: 30px;
  transition: color ease 2s;

  &:hover {
    color: $color-white;
    background-color: $color-bright-orange;
    transform: scale(1.2);
  }

  @media all and (min-width: 768px) {
    width: 91px;
  }

  @media all and (min-width: 1280px) {
    width: 160px;
  }
}

/* SECTION REASONS */

.section-reasons {
  padding: 30px 70px 60px;
  text-align: center;
  background-color: $color-lightlightblue;

  @media all and (min-width: 768px) {
    padding-left: 35.7px;
    padding-right: 40px;
  }

  @media all and (min-width: 1280px) {
    padding: 60px 0;
  }
}

.max-width {
  max-width: 1110px;

  @include margin-left-right-auto;
  // margin-left: auto;
  // margin-right: auto;
}

.subtitulo-main {
  margin: 0;
  padding-top: 45px;
}

.texto-reasons {
  @media all and (min-width: 768px) {
    padding-top: 14px;
  }
}

.box {
  // width: 180px;
  // margin-left: auto;
  // margin-right: auto;
}

.link-button-reasons {
  text-align: center;
  display: block;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-bright-orange;
  text-decoration: none;
  margin-top: 45px;
  transition: color ease 2s;

  @include margin-left-right-auto;
  // margin-left: auto;
  // margin-right: auto;

  &:hover {
    width: 600px;
    color: $color-bright-orange;
    background-color: $color-white;
    border: 2px solid $color-bright-orange;
    transform: scale(1.2);
  }

  @media all and (min-width: 768px) {
    width: 210px;
    margin-top: 60px;
  }

  @media all and (min-width: 1280px) {
    width: 255px;
    margin-top: 60px;
  }
}
