
.page-header {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.button-burguer {
  height: 44px;
  width: 44px;
  background-color: $color-cerulean;
  position: fixed;
  @include flex;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.imag-burguer {
  display: block;
}

// .icono-menu {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.titulo-h1 {
  text-align: center;
  text-transform: uppercase;
  width: 290px;
  height: 110px;
  margin: 0;

  @media all and (min-width: 768px) {
    width: 690px;
    height: 212px;
  }

  @media all and (min-width: 1280px) {
    width: 730px;
    height: 264px;
  }
}

.box-header {
  @include absolute;

  transform: translateX(-50%);
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translateX(-50%);
}

.texto-header {
  text-align: center;
  margin: 0;
  padding-top: 10px;

  @media all and (min-width: 768px) {
    padding-top: 20px;
  }

  @media all and (min-width: 1280px) {
    padding-top: 0;
  }
}

.button-down {
  height: 45px;
  width: 45px;
  margin-top: 45px;
  position: relative;
  border-radius: 100%;

  @include margin-left-right-auto;
  // margin-left: auto;
  // margin-right: auto;
  background-color: $color-white;


  @media all and (min-width: 768px) {
    margin-top: 30px;
  }
}

.link-imag-down {
  display: inline-block;

  @include absolute;

  transform: translate(-50%, -50%);
}

.imag-down {
  display: block;
}
