
/* Text styles */

/* HEADER */

// .h1 {
//   font-family: $font-Roboto-Slab;
//   font-size: 42px;
//   font-weight: bold;
//   line-height: 55px;
//   letter-spacing: normal;
//   color: $color-white;

.h1 {
  @include h1 ($font-Roboto-Slab, 42px, bold, 55px, normal, $color-white);

  @media all and (min-width: 768px) {
    font-size: 80px;
    line-height: 106px;
  }

  @media all and (min-width: 1280px) {
    font-size: 100px;
    line-height: 132px;
  }
}

/* th=texto header */

.th {
  // font-family: $font-Roboto;
  // font-size: 18px;
  // font-weight: normal;
  // line-height: normal;
  // letter-spacing: normal;
  // color: $color-white;

  @include h1 ($font-Roboto-Slab, 18px, normal, normal, normal, $color-white);

  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}

/* MAIN */

.div-insomnia {
  // font-family: $font-Roboto;
  // font-size: 14px;
  // font-weight: normal;
  // line-height: 30px;
  // letter-spacing: normal;
  // color: $color-lightblue;

  @include h1 ($font-Roboto, 14px, normal, 30px, normal, $color-lightblue);

  @media all and (min-width: 1280px) {
    font-size: 16px;
  }
}

.h2 {
  // font-family: $font-Roboto-Slab;
  // font-size: 24px;
  // font-weight: bold;
  // line-height: 30px;
  // letter-spacing: normal;
  // color: $color-black;

  @include h1 ($font-Roboto-Slab, 24px, bold, 30px, normal, $color-black);

  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 45px;
  }

  @media all and (min-width: 1280px) {
    font-size: 32px;
  }
}

/* tl=texto loooking */

.tl {
  color: $color-greyish-brown;
}

/* tm=texto main */

.tm {
  font-family: $font-Roboto;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: normal;

  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}

/* tbgo=texto boton Go */

.tbgo {
  // font-family: $font-Roboto;
  // font-size: 20px;
  // font-weight: 500;
  // line-height: 45px;
  // letter-spacing: normal;
  // color: $color-bright-orange;
  @include h1 ($font-Roboto, 20px, 500, 45px, normal, $color-bright-orange);

}

.h3 {
  // font-family: $font-Roboto-Slab;
  // font-size: 18px;
  // font-weight: bold;
  // line-height: 30px;
  // letter-spacing: normal;
  // color: $color-black;

  @include h1 ($font-Roboto-Slab, 18px, bold, 30px, normal, $color-black);

  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}

/* tr=texto reasons */

.tr {
  color: $color-black;
}

/* tbreasons=texto boton More Reasons */

.tbreasons {
  @include h1 ($font-Roboto-Slab, 20px, 500, 45px, normal, $color-white);

  // font-family: $font-Roboto-Slab;
  // font-size: 20px;
  // font-weight: 500;
  // line-height: 45px;
  // letter-spacing: normal;
  // color: $color-white;
}

/* tf=texto footer */

.tf {
  @include h1 ($font-Roboto, 14px, normal, 30px, normal, $color-white);

  // font-family: $font-Roboto;
  // font-size: 14px;
  // font-weight: normal;
  // line-height: 30px;
  // letter-spacing: normal;
  // color: $color-white;
}
