* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  height: 100vh;
  margin: 0;
}

.page-header {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.button-burguer {
  height: 44px;
  width: 44px;
  background-color: #0271bc;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icono-menu {
  display: block;
}

.titulo-h1 {
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 290px;
  height: 110px;
  margin: 0;
}

.box-relative {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.parrafo-header {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin: 0;
  padding-top: 10px;
}

.button-down {
  height: 45px;
  width: 45px;
  margin-top: 45px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 100%;
}

.link-imag-down {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.imag-down {
  display: block;
}

.section-looking {
  padding: 30px 15px;
}

.div-insomnia {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #8ccbea;
}

.titulo-main {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: normal;
  color: #000;
  text-transform: capitalize;
  margin: 0;
  padding-top: 1px;
}

.texto-main {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #4a4a4a;
  margin: 0;
}

.texto-looking {
  padding-top: 15px;
}

.button-go {
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  color: #f26002;
  display: block;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid #f26002;
  margin-top: 30px;
}

.section-reasons {
  padding: 30px 15px 60px;
  text-align: center;
  background-color: #eff9ff;
}

.subtitulo-main {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  margin: 0;
  padding-top: 45px;
}

.button-reasons {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  display: block;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  text-decoration: none;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer {
  background-color: #304268;
  text-align: center;
  padding-bottom: 30px;
}

.button-up {
  height: 45px;
  width: 45px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 100%;
  top: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.link-imag-up {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.imag-up {
  display: block;
}

.text-footer {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
}

.corazon {
  color: #f26002;
}

/*# sourceMappingURL=main.css.map */
