* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  height: 100vh;
  margin: 0;
}

.page-header {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.button-burguer {
  height: 44px;
  width: 44px;
  background-color: #0271bc;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.imag-burguer {
  display: block;
}

.titulo-h1 {
  text-align: center;
  text-transform: uppercase;
  width: 290px;
  height: 110px;
  margin: 0;
}

.box-header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.texto-header {
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.button-down {
  height: 45px;
  width: 45px;
  margin-top: 45px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 100%;
}

.link-imag-down {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.imag-down {
  display: block;
}

.page-footer {
  background-color: #304268;
  text-align: center;
  padding-bottom: 30px;
  height: 128px;
  position: relative;
  bottom: 30px;
}

.box-footer {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -22.5px;
}

.button-up {
  height: 45px;
  width: 45px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 100%;
  top: -50%;
  -webkit-animation-name: arrow;
  animation-name: arrow;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.link-imag-up {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.imag-up {
  display: block;
}

.text-footer-copy {
  margin: 15px 0 0 0;
}

.text-footer-love {
  margin: 0;
}

.corazon {
  color: #f26002;
}/* Grid *//* Text styles *//* HEADER */.h1 {
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: normal;
  color: #fff;
}/* th=texto header */.th {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}/* MAIN */.div-insomnia {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #8ccbea;
}

.h2 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: normal;
  color: #000;
}/* tl=texto loooking */.tl {
  color: #4a4a4a;
}/* tm=texto main */.tm {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: normal;
}/* tbgo=texto boton Go */.tbgo {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: normal;
  color: #f26002;
}

.h3 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: normal;
  color: #000;
}/* tr=texto reasons */.tr {
  color: #000;
}/* tbreasons=texto boton More Reasons */.tbreasons {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: normal;
  color: #fff;
}/* tf=texto footer */.tf {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #fff;
}/* SECTION LOOKING */.section-looking {
  padding: 30px 15px 45px;
}

.titulo-main {
  text-transform: capitalize;
  margin: 0;
  padding-top: 1px;
}

.texto-main {
  margin: 0;
}

.texto-looking {
  padding-top: 15px;
}

.link-button-go {
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid #f26002;
  margin-top: 30px;
  -webkit-transition: color ease 2s;
  transition: color ease 2s;
}

.link-button-go:hover {
  color: #fff;
  background-color: #f26002;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}/* SECTION REASONS */.section-reasons {
  padding: 30px 70px 60px;
  text-align: center;
  background-color: #eff9ff;
}

.max-width {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.subtitulo-main {
  margin: 0;
  padding-top: 45px;
}

.link-button-reasons {
  text-align: center;
  display: block;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  text-decoration: none;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: color ease 2s;
  transition: color ease 2s;
}

.link-button-reasons:hover {
  width: 600px;
  color: #f26002;
  background-color: #fff;
  border: 2px solid #f26002;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media all and (min-width: 768px) {
  .titulo-h1 {
    width: 690px;
    height: 212px;
  }

  .texto-header {
    padding-top: 20px;
  }

  .button-down {
    margin-top: 30px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 27.7px;
  }

  .h1 {
    font-size: 80px;
    line-height: 106px;
  }

  .th {
    font-size: 24px;
  }

  .h2 {
    font-size: 26px;
    line-height: 45px;
  }

  .tm {
    font-size: 20px;
  }

  .h3 {
    font-size: 24px;
  }

  .section-looking {
    padding: 30px 39px 60px;
  }

  .titulo-main {
    padding-top: 0;
  }

  .texto-looking {
    padding-top: 30px;
  }

  .link-button-go {
    width: 91px;
  }

  .section-reasons {
    padding-left: 35.7px;
    padding-right: 40px;
  }

  .texto-reasons {
    padding-top: 14px;
  }

  .link-button-reasons {
    width: 210px;
    margin-top: 60px;
  }
}

@media all and (min-width: 1280px) {
  .titulo-h1 {
    width: 730px;
    height: 264px;
  }

  .texto-header {
    padding-top: 0;
  }

  .wrapper {
    grid-column-gap: 26.2px;
  }

  .h1 {
    font-size: 100px;
    line-height: 132px;
  }

  .div-insomnia {
    font-size: 16px;
  }

  .h2 {
    font-size: 32px;
  }

  .section-looking {
    padding: 60px 0;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }

  .link-button-go {
    width: 160px;
  }

  .section-reasons {
    padding: 60px 0;
  }

  .link-button-reasons {
    width: 255px;
    margin-top: 60px;
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    bottom: -16px;
  }

  50% {
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    bottom: 5px;
  }

  85% {
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  }

  100% {
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
    bottom: 5px;
  }
}

@keyframes arrow {
  0% {
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    bottom: -16px;
  }

  50% {
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    bottom: 5px;
  }

  85% {
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  }

  100% {
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
    bottom: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
